@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: $page-width;
  margin: 0 auto;
  padding: 1rem 0.5rem;

  color: dimgray;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box {
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
}

.box + .box {
  margin-top: 0.5rem;
}
